body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.filha{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 25px;
}

li{
  display: flex;
  margin-left: 2px;
}


.inputs{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.inputs i{
  margin-left: 5px;
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}

.interaction {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.like-btn {
  background-color: #4caf50;
}

.dislike-btn {
  background-color: #f44336;
}



img{
  width: 300px;
}

.iDaCorRed {
  color: red;
}

.iDaCorBlack{
  color: black;
}


.like-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4267B2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.like-button:hover {
  transform: scale(1.1);
}

.like-icon {
  margin-right: 5px;
}

.like-container {
  position: relative;
}

.likeAul {
  color: #4267B2;
}

.likeBlack {
  color: black;
}

.exibir{
  display: none;
  width: 300px;
  height: 300px;
  overflow: hidden;
  overflow: auto;
}



ul, li{
  list-style: none;
  display: inline-block;
}

i{
  transition: all 0.5s;
  cursor: pointer;
}


i:hover{
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}