body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cat-image {
  text-align: center;
  margin-bottom: 20px;
}

.cat-image img {
  max-width: 100%;
  border-radius: 10px;
  width: 200px;
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}

.interaction {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.like-btn {
  background-color: #4caf50;
}

.dislike-btn {
  background-color: #f44336;
}


.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 200px;
}

.favorite-btn {
  background-color: #ff9800;
}

