body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

img{
  border: 1px solid black;
}
.cat-image {
  text-align: center;
  margin-bottom: 20px;
}

.cat-image img {
  max-width: 100%;
  border-radius: 10px;
  width: 200px;
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}

.interaction {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.like-btn {
  background-color: #4caf50;
}

.dislike-btn {
  background-color: #f44336;
}


.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 200px;
}

.favorite-btn {
  background-color: #ff9800;
}


.iDaCorRed {
  color: red;
}

.iDaCorBlack{
  color: black;
}


.like-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4267B2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.like-button:hover {
  transform: scale(1.1);
}

.like-icon {
  margin-right: 5px;
}

.like-container {
  position: relative;
}

.likeAul {
  color: #4267B2;
}

.likeBlack {
  color: black;
}